/* Skin: PopPad */
#GameInputDisplay[data-styles~="PopPad"] > ul::before {
	background-image: url("../../skins/PopPad/Base.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul > li {
	/* 他のスキンをリセット */
	background-image: unset;
}
/* 押したボタンの差分画像（ul.Button_{ボタン番号}） */
#GameInputDisplay[data-styles~="PopPad"] > ul.Button_0 > li:nth-child(1) {
	background-image: url("../../skins/PopPad/Button_0.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_1 > li:nth-child(2) {
	background-image: url("../../skins/PopPad/Button_1.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_2 > li:nth-child(3) {
	background-image: url("../../skins/PopPad/Button_2.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_3 > li:nth-child(4) {
	background-image: url("../../skins/PopPad/Button_3.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_4 > li:nth-child(5) {
	background-image: url("../../skins/PopPad/Button_4.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_5 > li:nth-child(6) {
	background-image: url("../../skins/PopPad/Button_5.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_6 > li:nth-child(7) {
	background-image: url("../../skins/PopPad/Button_6.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_7 > li:nth-child(8) {
	background-image: url("../../skins/PopPad/Button_7.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_8 > li:nth-child(9) {
	background-image: url("../../skins/PopPad/Button_8.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_9 > li:nth-child(10) {
	background-image: url("../../skins/PopPad/Button_9.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_10 > li:nth-child(11) {
	background-image: url("../../skins/PopPad/Button_10.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_11 > li:nth-child(12) {
	background-image: url("../../skins/PopPad/Button_11.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_12 > li:nth-child(13),
#GameInputDisplay[data-styles~="PopPad"] > ul.StickB_Up > li:nth-child(13) {
	background-image: url("../../skins/PopPad/Button_12.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_13 > li:nth-child(14),
#GameInputDisplay[data-styles~="PopPad"] > ul.StickB_Down > li:nth-child(14) {
	background-image: url("../../skins/PopPad/Button_13.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_14 > li:nth-child(15),
#GameInputDisplay[data-styles~="PopPad"] > ul.StickB_Left > li:nth-child(15) {
	background-image: url("../../skins/PopPad/Button_14.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_15 > li:nth-child(16),
#GameInputDisplay[data-styles~="PopPad"] > ul.StickB_Right > li:nth-child(16) {
	background-image: url("../../skins/PopPad/Button_15.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_16 > li:nth-child(17) {
	background-image: url("../../skins/PopPad/Button_16.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_17 > li:nth-child(18) {
	background-image: url("../../skins/PopPad/Button_17.png");
}
/* 左スティックの差分画像 */
#GameInputDisplay[data-styles~="PopPad"] > ul.StickL_Up > li:nth-child(30) {
	background-image: url("../../skins/PopPad/StickL_8.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.StickL_Down > li:nth-child(30) {
	background-image: url("../../skins/PopPad/StickL_2.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.StickL_Left > li:nth-child(30) {
	background-image: url("../../skins/PopPad/StickL_4.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.StickL_Right > li:nth-child(30) {
	background-image: url("../../skins/PopPad/StickL_6.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.StickL_Down.StickL_Left > li:nth-child(30) {
	background-image: url("../../skins/PopPad/StickL_1.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.StickL_Down.StickL_Right > li:nth-child(30) {
	background-image: url("../../skins/PopPad/StickL_3.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.StickL_Up.StickL_Left > li:nth-child(30) {
	background-image: url("../../skins/PopPad/StickL_7.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.StickL_Up.StickL_Right > li:nth-child(30) {
	background-image: url("../../skins/PopPad/StickL_9.png");
}
/* 右スティックの差分画像 */
#GameInputDisplay[data-styles~="PopPad"] > ul.StickR_Up > li:nth-child(40) {
	background-image: url("../../skins/PopPad/StickR_8.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.StickR_Down > li:nth-child(40) {
	background-image: url("../../skins/PopPad/StickR_2.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.StickR_Left > li:nth-child(40) {
	background-image: url("../../skins/PopPad/StickR_4.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.StickR_Right > li:nth-child(40) {
	background-image: url("../../skins/PopPad/StickR_6.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.StickR_Down.StickR_Left > li:nth-child(40) {
	background-image: url("../../skins/PopPad/StickR_1.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.StickR_Down.StickR_Right > li:nth-child(40) {
	background-image: url("../../skins/PopPad/StickR_3.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.StickR_Up.StickR_Left > li:nth-child(40) {
	background-image: url("../../skins/PopPad/StickR_7.png");
} #GameInputDisplay[data-styles~="PopPad"] > ul.StickR_Up.StickR_Right > li:nth-child(40) {
	background-image: url("../../skins/PopPad/StickR_9.png");
}
/* コントローラーIndex識別用差分画像（Switchコンなどに見られる） */
#GameInputDisplay[data-styles~="PopPad"][data-controller="0"] > ul > li:nth-child(42) {
	background-image: url("../../skins/PopPad/Controller_0.png");
} #GameInputDisplay[data-styles~="PopPad"][data-controller="1"] > ul > li:nth-child(42) {
	background-image: url("../../skins/PopPad/Controller_1.png");
} #GameInputDisplay[data-styles~="PopPad"][data-controller="2"] > ul > li:nth-child(42) {
	background-image: url("../../skins/PopPad/Controller_2.png");
} #GameInputDisplay[data-styles~="PopPad"][data-controller="3"] > ul > li:nth-child(42) {
	background-image: url("../../skins/PopPad/Controller_3.png");
}
/* トリガーボタン（L2/R2）の入力強度の表現（.Button_Value_{入力強度%}_{ボタン番号}） */
#GameInputDisplay[data-styles~="PopPad"] > ul.Button_Value_10_6 > li:nth-child(7),
#GameInputDisplay[data-styles~="PopPad"] > ul.Button_Value_10_7 > li:nth-child(8) {
	opacity: .1;  /* 不透明度 */
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_Value_20_6 > li:nth-child(7),
#GameInputDisplay[data-styles~="PopPad"] > ul.Button_Value_20_7 > li:nth-child(8) {
	opacity: .2;  /* 不透明度 */
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_Value_30_6 > li:nth-child(7),
#GameInputDisplay[data-styles~="PopPad"] > ul.Button_Value_30_7 > li:nth-child(8) {
	opacity: .3;  /* 不透明度 */
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_Value_40_6 > li:nth-child(7),
#GameInputDisplay[data-styles~="PopPad"] > ul.Button_Value_40_7 > li:nth-child(8) {
	opacity: .4;  /* 不透明度 */
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_Value_50_6 > li:nth-child(7),
#GameInputDisplay[data-styles~="PopPad"] > ul.Button_Value_50_7 > li:nth-child(8) {
	opacity: .5;  /* 不透明度 */
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_Value_60_6 > li:nth-child(7),
#GameInputDisplay[data-styles~="PopPad"] > ul.Button_Value_60_7 > li:nth-child(8) {
	opacity: .6;  /* 不透明度 */
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_Value_70_6 > li:nth-child(7),
#GameInputDisplay[data-styles~="PopPad"] > ul.Button_Value_70_7 > li:nth-child(8) {
	opacity: .7;  /* 不透明度 */
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_Value_80_6 > li:nth-child(7),
#GameInputDisplay[data-styles~="PopPad"] > ul.Button_Value_80_7 > li:nth-child(8) {
	opacity: .8;  /* 不透明度 */
} #GameInputDisplay[data-styles~="PopPad"] > ul.Button_Value_90_6 > li:nth-child(7),
#GameInputDisplay[data-styles~="PopPad"] > ul.Button_Value_90_7 > li:nth-child(8) {
	opacity: .9;  /* 不透明度 */
}
